<!DOCTYPE html>
<html>
    <body>
        <h1>
            Enter text (enter 'end' to exit)
        </h1>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
               <script>
                function fontToRed() {
                var x = document.getElementById("messages");
                x.style.color = "red";
                }

                function fontToGreen() {
                var x = document.getElementById("messages");
                x.style.color = "green";
                }

                function fontToBlue() {
                var x = document.getElementById("messages");
                x.style.color = "blue";
                }

                function ReSize1() {
                var x = document.getElementById("messages");
                x.style.fontSize = "50%";
                }

                function ReSize2() {
                var x = document.getElementById("messages");
                x.style.fontSize = "100%";
                }

                function ReSize3() {
                var x = document.getElementById("messages");
                x.style.fontSize = "150%";
                }
                </script>
                <div style="output">
                <i>Цвет текста: </i>
                <a href="#font-edit"  onclick="fontToRed()">Red</a> | <a href="#font-edit" onclick="fontToGreen()">Green</a> | <a href="#font-edit" onclick="fontToBlue()">Blue</a>
                <br>
                <i>Размер текста: </i>
                    <a href="#font-edit" onclick="ReSize1()">S</a> | <a href="#font-edit" onclick="ReSize2()">N</a> | <a href="#font-edit" onclick="ReSize3()">B</a>
                </div>
        </form>
        <span class="output"><b id='messages'></span>
        <script>
            var ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>


